.container{
    padding:30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 0;
}
.heading{
    font-weight: 500;
    font-size: 2.1rem;
    color:rgba(152, 2, 124, 0.55);

}
.toolbar{
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;

}
.colors{
    display: flex;
    gap: 20px;
    padding: 0 30px;
}

.colors .color{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: rgb(152, 92, 207);
}

.toolbar button{
    padding: 8px 16px;
    border-radius: 5px;
    background-color: rgb(152, 92, 207);
    color: white;
    outline:none;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.toolbar button svg{
    height: 20px;
    width: 20px;

}
